/* Font faces */
$baseFontFamily: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial;;

// Colors
$white : #ffffff;
$black : #000000;
$darkGrey : #333333;

/* Break Points */
$xsmall: "screen and (max-width: 640px)";
$small: "screen and (max-width: 800px)";
$medium: "screen and (max-width: 1100px)";
